In [1]:
import pandas as pd

In [2]:
csv_list = ['worker_profiles_DA', 'worker_profiles_DS','worker_profiles_web', 'worker_profiles_GD', 'worker_profiles_MKT']

In [3]:
dataframes = []
for file_name in csv_list:
    file_path =f"{file_name}.csv"
    df = pd.read_csv(file_path)
    print(f"Shape of {file_name}: {df.shape}")
    dataframes.append(df)

Shape of worker_profiles_DA: (110, 11)
Shape of worker_profiles_DS: (200, 11)
Shape of worker_profiles_web: (98, 11)
Shape of worker_profiles_GD: (199, 11)
Shape of worker_profiles_MKT: (198, 11)

In [5]:
dataframes[0]

,Unnamed: 0,title,pp,summary,total_jobs,total_hours,locality,country,perc_job_success,projects,skills_list
0,0,Data Analyst,$15.00/hr,Hello! I am a highly skilled data analyst with...,174,277,Tunis,Tunisia,86.0,"['Pricing exercise', 'Medical Artifical Intell...","['SAS', 'Machine Learning', 'Microsoft Excel',..."
1,1,Data Analyst and Management Consultant,$8.00/hr,I have great command over data analytics softw...,800,"1,273",Lahore,Pakistan,93.0,"['Back-End Development Back-nd Development', '...","['Data Analysis', 'R', 'Python', 'IBM SPSS', '..."
2,2,Excel Google Sheets Expert | Data Analyst | 12...,$25.00/hr,‚≠ê‚≠ê‚≠ê‚≠ê‚≠ê Top 3% Elite Freelancer\nüî•üî• I LOVE TO PL...,386,"5,736",Udaipur Rajasthan,India,98.0,['Connect and update PPT charts and tables fro...,"['Copy & Paste', 'Microsoft Excel', 'Data Entr..."
3,3,Excel Data Analyst Expert | Power BI Specialist,$10.00/hr,"Hello!\n\nThank you, that you have visited my ...",167,"1,179",Karachi,Pakistan,100.0,"['Excel Data Reporting Specialist Needed', 'Da...","['Dashboard', 'Data Visualization', 'Microsoft..."
4,4,Data Analyst | SPSS | STATA | Quantitative and...,$45.50/hr,With over 8 years of extensive experience and ...,294,"3,555",Karachi,Pakistan,100.0,"['Business Analysis: SWOT Analysis of Zara', '...","['IBM SPSS', 'EViews', 'Research Proposals', '..."
...,...,...,...,...,...,...,...,...,...,...,...
105,105,"Data Solutions Expert |Data Engineering, Machi...",$15.00/hr,üí° Versatile Data Solutions Expert specializing...,10,618,Ankara,Turkey,73.0,['Expert Web Scraper for E-Commerce Data Extra...,"['Python', 'Data Science', 'Machine Learning',..."
106,106,Python & AI Expert | Data Analyst | ML/NLP/LLM...,$35.00/hr,"Hello Partners! \n\nI'm Ubaidullah Amjad, a de...",72,"1,136",Islamabad,Pakistan,100.0,"['AWS Sagemaker MLOps Expert', 'Robo Advisory ...","['Python', 'Artificial Intelligence', 'Machine..."
107,107,Data Analyst | Data Extraction | Data Preproce...,$25.00/hr,"Hello, I'm Ahsan, a skilled Data Analyst with ...",16,12,Rawalpindi,Pakistan,100.0,"['Re-Create pdf in Excel word and PDF', 'Data ...","['Data Analysis', 'Microsoft Power BI', 'Pytho..."
108,108,PhD ML Candidate | Data Analyst/Scientist| Pre...,$40.00/hr,Greetings!\n\nI am a PhD Machine Learning (ML)...,54,965,Lahore,Pakistan,95.0,"['Statistical Analyst for AI Generated Data', ...","['Machine Learning Model', 'Deep Learning', 'M..."
109,109,Expert Data Analyst with Specialization in Exc...,$30.00/hr,‚ÄúShe had a deep understanding of the work need...,31,536,Ile-Ife,Nigeria,100.0,"['Excel wiz', 'Medical Assistant - Sleep Scien...","['Microsoft Excel', 'Data Visualization', 'Pow..."

In [6]:
worker_profiles = pd.concat(dataframes, ignore_index=True)
worker_profiles = worker_profiles.loc[:, ~worker_profiles.columns.str.contains('^Unnamed')]
worker_profiles.shape

(805, 10)

In [7]:
worker_profiles.head()

,title,pp,summary,total_jobs,total_hours,locality,country,perc_job_success,projects,skills_list
0,Data Analyst,$15.00/hr,Hello! I am a highly skilled data analyst with...,174,277,Tunis,Tunisia,86.0,"['Pricing exercise', 'Medical Artifical Intell...","['SAS', 'Machine Learning', 'Microsoft Excel',..."
1,Data Analyst and Management Consultant,$8.00/hr,I have great command over data analytics softw...,800,"1,273",Lahore,Pakistan,93.0,"['Back-End Development Back-nd Development', '...","['Data Analysis', 'R', 'Python', 'IBM SPSS', '..."
2,Excel Google Sheets Expert | Data Analyst | 12...,$25.00/hr,‚≠ê‚≠ê‚≠ê‚≠ê‚≠ê Top 3% Elite Freelancer\nüî•üî• I LOVE TO PL...,386,"5,736",Udaipur Rajasthan,India,98.0,['Connect and update PPT charts and tables fro...,"['Copy & Paste', 'Microsoft Excel', 'Data Entr..."
3,Excel Data Analyst Expert | Power BI Specialist,$10.00/hr,"Hello!\n\nThank you, that you have visited my ...",167,"1,179",Karachi,Pakistan,100.0,"['Excel Data Reporting Specialist Needed', 'Da...","['Dashboard', 'Data Visualization', 'Microsoft..."
4,Data Analyst | SPSS | STATA | Quantitative and...,$45.50/hr,With over 8 years of extensive experience and ...,294,"3,555",Karachi,Pakistan,100.0,"['Business Analysis: SWOT Analysis of Zara', '...","['IBM SPSS', 'EViews', 'Research Proposals', '..."

In [8]:
print("Missing values:\n", worker_profiles.isnull().sum())

Missing values:
 title                 0
pp                    0
summary               0
total_jobs            0
total_hours           0
locality              0
country             114
perc_job_success      4
projects              0
skills_list           0
dtype: int64

In [9]:
worker_profiles['country'] = worker_profiles['country'].fillna('')

In [10]:
print("Missing values:\n", worker_profiles.isnull().sum())

Missing values:
 title               0
pp                  0
summary             0
total_jobs          0
total_hours         0
locality            0
country             0
perc_job_success    4
projects            0
skills_list         0
dtype: int64

In [12]:
worker_profiles.shape

(805, 10)

In [14]:
worker_profiles_vf= worker_profiles.dropna()

In [15]:
worker_profiles_vf = worker_profiles_vf.sample(frac = 1)

In [17]:
worker_profiles_vf.reset_index(drop=True, inplace=True)

In [19]:
worker_profiles_vf.to_csv("worker_profiles_vf.csv")